# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db
ehthumbs.db
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ / Android Studio related
*.iml
*.ipr
*.iws
.idea/
android/.gradle/
android/.idea/
android/app/build/
android/build/

# VS Code settings (optional, uncomment if needed)
.vscode/

# Flutter / Dart / Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
**/doc/api/
**/ios/Flutter/.last_build_id

# iOS related
ios/.symlinks/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/.dart_tool/
ios/Pods/

# Firebase / Google Services
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Debug symbols
*.dSYM.zip
*.dSYM

# Testing related
/coverage/

# Android App Bundle and APKs
*.apk
*.aab

# Xcode related
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/
ios/Pods/
xcuserdata/
*.xcworkspace
*.xcuserstate
*.xcscmblueprint

# Fastlane related
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Flutter Generated
generated_plugin_registrant.dart

# macOS related
macos/Flutter/ephemeral/
macos/build/

# Web related
web/.dart_tool/
web/build/
